html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("images/polluscope.jpg");
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    border: 1px solid black;
}

.header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid black;
}

.header>.uvsq {
    display: flex;
    justify-content: center;
}

.uvsq>img {
    width: 38%;
}

.header>.logo {
    display: flex;
    justify-content: center;
}

.logo>img {
    width: 30%;
}

.header>.title {}

.chat {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}

.message {
    border-top: 1px solid black;
}

h1 {
    color: rgb(14, 65, 24);
    background-color: rgb(59, 136, 75);
    border-color: rgb(0, 24, 0);
    text-align: center;
}



/*.main {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0;
    height: 100%;
}*/